.text-center {
    text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
    color: unset;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #6110af, #ff0095);
    font-family: 'Noto Sans', sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
}

.aside-contact {
    display: none;
}

.container {
    padding: 5px;
    max-width: 1600px;
    margin: auto;
}

.card {
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px #684d4d;
    background-color: #fff;
    margin-bottom: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem;
    line-height: 2;
}

.nav-items {
    color: aliceblue;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.nav-items li {
    list-style-type: none;
}

.header {
    color: aliceblue;
    margin-bottom: 5rem;
}

.header h1 {
    font-size: 2.9rem;
    margin-bottom: 0;
}

.header h2 {
    font-size: 1.25rem;
}

.certification-badges {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    gap: 1rem;
}

.badge {
    max-width: 175px;
    max-height: 270px;
    border: 1px solid #e5e5e5;
    border-radius: 5%;
    text-align: center;
    display: inline-block;
    padding-bottom: 2rem;
}

.badge img {
    width: 105px;
    height: 105px;
    transition: transform 0.3s ease;
}

.badge h5 {
    margin: 0 5px;
}

.badge img:hover {
    transform: scale(1.5);
}

.badge .issuer {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto 2rem auto;
    background-color: #e5e5e5;
}

footer {
    margin-top: 10rem;
    background-color: #182730;
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul {
    padding-left: 10px;
}

/* Chat Container */
#chat-container {
    position: fixed;
    bottom: 25px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Chat Text */
.chat-text {
    display: none;
}

/* Floating Chat Button */
#chat-button {
    background-color: #6110af;
    color: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chat-icon-d {
    display: none;
}

#chat-button:hover {
    background-color: #ff0095;
}

/* Chat Window */
#chat-window {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 100%;
    height: 500px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    overflow: hidden;
}

/* Close Button */
#close-chat {
    position: absolute;
    top: 1px;
    right: 25px;
    background-color: #ff0095;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#close-chat:hover {
    background-color: #6110af;
}

#chat-window iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}


@media (min-width: 60rem) {
    .aside-contact {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .header h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .certification-badges {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .container {
        width: 85%;
    }

    footer .social {
        flex-direction: row;
        gap: 25px;
    }

    ul {
        padding-left: 40px;
    }

    #chat-container {
        bottom: 25px;
    }
    .chat-text {
        background-color: #6110af;
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }

    #chat-button {
        width: 120px;
        height: 120px;
    }

    .chat-icon-d {
        display: block;
    }
    .chat-icon-m {
        display: none;
    }

    #chat-window {
        bottom: 90px;
        right: 20px;
        width: 450px;
        height: 500px;
    }
}
  