.text-center {
    text-align: center;
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: unset;
    text-decoration: none;
  }
  
  body {
    background:   linear-gradient(to right, #8d05e7, #ff0095);
    font-family: 'Noto Sans', sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
  }
  
  .aside-contact {
    display: none;
  }
  
  .container {
    width: 95%;
    margin: auto;
  }
  
  .card {
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px #684d4d;
    background-color: #fff;
    margin-bottom: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem;
    line-height: 2;
  }
  
  .nav-items {
    color: aliceblue;
    display: flex;
    justify-content: flex-end; 
    gap: 50px;
  }
  
  .nav-items li {
    list-style-type: none;
  }
  
  .header {
    color: aliceblue;
    margin-bottom: 5rem;
    background-color: inherit;
  }
  
  .header h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .header h2 {
    font-size: 1.25rem;
  }
  
  .skills {
    display: flex;
    flex-direction: column;
  }
  
  .certification-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .badge {
    max-width: 150px; 
    max-height: 270px; 
    border: 1px solid #e5e5e5; 
    border-radius: 5%;
    text-align: center;
    padding: 20px 15px;
    display: inline-block;
  }

  .badge img {
    width: 105px;
    height: 105px;
  }

  .badge h6 {
    background-color: #e5e5e5;
  }

  footer {
    margin-top: 10rem;
    background-color: #182730;
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  
  footer .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  
  footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  @media (min-width: 60rem) {
    .aside-contact {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }
  
    .container {
      width: 85%;
    }

    .skills {
        flex-direction: row;
        gap: 10px;
    }

    .skills section {
        flex-grow: 1;
    }
  
    footer .social {
        flex-direction: row;
        gap: 25px;
      }
  }
  